<!DOCTYPE html>
<html layout:decorator="/admin/template.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- ok -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- ok -->
<title>MinhTuan</title>
</head>
<body>
	<div layout:fragment="form-body">
		<div class="container">
			<h6>Tạo giới tính</h6>
			<hr />
			<div class="row">
				<form th:object="${cate}" th:action="@{/admin/gioi-tinh/create}"
					method="post">

					<div class="mb-3">
						<label class="form-label">Giới tính:</label> <input type="text"
							class="form-control" name="name">
					</div>
					
					<div class="mb-3">
						<button class="w3-teal w3-button" type="submit">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>